body{
    margin: 0;
    padding: 0;
}
.navigation{
    display: block;
    max-width: 100vw;
    height: 100px;
    padding: 0   5rem;
    background: rgb(0,0,0);
    background: linear-gradient(157deg, rgba(0,0,0,0.9923319669664741) 0%, rgba(89,94,90,1) 100%);
    box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.868);
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.main-logo{
    display: inline-block;
    position: relative;
    padding: 0.3rem 1rem;
    top: 1rem;
    left: 6vw;
    border-left: 2px solid rgb(208, 63, 63);
    border-bottom: 1px solid rgb(208, 63, 63);
    border-radius: 2rem;
    box-shadow: inset 5px 5px  rgb(240, 57, 57) ;
    transition-duration: 1s;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
    animation: onhover;
    animation-duration: 2s;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes onhover {
   0% { transform: rotateX(0deg);}
    50% { transform: rotateX(24deg);}
    100% { transform: rotateX(0deg);}
}
.nav-name{
    color: white; 
    margin: 0;
    padding-left: -1px;
}
.nav-profession{
    margin: 0;
    color: white;
}

.navigation-right{
    display: inline-block;
    position: relative;
    left: 48vw;
    top: -1.7rem;
    z-index: 2;
    color: white;
}
.nav-hamburger{
    display: none;
    cursor: pointer;
    position:absolute;
    top: 0.7rem;
    right: 1vw;
}
.nav-icons{
    display: inline-block;
    margin: auto  2rem;
    border-left: 4px solid rgb(208, 63, 63);
    border-bottom: 4px solid rgb(208, 63, 63);
    border-radius: 2rem;
    padding-bottom: 0.5rem ;
    padding-left: 0.5rem ;
}
.nav-a{
    color: white;
}

/* For screen size less than 1400px and greater than 1000px */
@media (max-width: 1399.9px) and (min-width:200px) {
    
    .navigation-active{
        height: 300px;
        background: rgb(0,0,0);
        background: linear-gradient(157deg, rgba(0,0,0,0.9923319669664741) 0%, rgba(89,94,90,1) 100%);
        box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.868);
        position: sticky;
        position: -webkit-sticky;
        top:0;
        z-index: 1;
    }
    .navigation-right{
        display: block;
       position: relative;
       left: 0vw;
       top: 2rem;
        
    }
    .nav-hamburger{
        display: inline-block;
        background: transparent;
    }
    .nav-icons{
        display: block;
        text-align: center;
        border-left: 0px;
    }
    .nav-a{
        text-decoration: none;
    }
}


