<div class="action">
  <h1 class="action-heading-h1">Passionate Full Stack Developer</h1>
  <h2 class="action-heading-h2">Er. Ashish Rajput</h2>
  <p class="action-paragraph">
    I am a web Developer from India and currently living in Jammu & Kashmir,
    India. I enjoy building rich interactive web applications.
  </p>
  <p class="action-paragraph">
    If you are an employer looking for a web Developer then you can get in touch
    with me here.
  </p>
  <button class="btn-hire">I'm looking to hire</button>
  <button class="btn-projects">Show Projects</button>
</div>
<hr
  style="
    margin-top: 8rem;
    margin-bottom: 1rem;
    border-top: 10px dotted white;
    border-bottom: none;
    margin-left: 37vw;
    margin-right: 33vw;
  "
/>
