<div class="action">
  <h1 class="action-heading-h1"> Full Stack Developer</h1>
  <h2 class="action-heading-h2">Er. Ashish Rajput</h2>
  <p class="action-paragraph">
    I am a web Developer from India.I enjoy building rich interactive web applications.
  </p>
  <p class="action-paragraph">
    If you are an employer looking for a web Developer then you can get in touch
    with me here.
  </p>
  <a href="https://www.linkedin.com/in/ashish-rajput-5ab8401a9"
    ><button class="btn-hire" type="submit">I'm looking to hire</button></a
  >
  <a href="#projects"
    ><button class="btn-projects" type="submit" action="#project">
      Show Projects
    </button></a>
</div>
<hr class="action-hr"/>
