<div id="certificates">
  <br />
  <h1 class="main-certificate-head">Certifcates</h1>
  <div class="certificate-1">
    <div class="certificate-text">
      <h1 class="certificate-title">Complete Web Development BootCamp</h1>
      <h2 class="certificate-tech-stack">Udemy 2021 Angela Yu</h2>
      <p class="certificate-details">
        This is complete full stack web Development BootCamp.
      </p>
      <p class="certificate-details">
        Here I learned almost everything about web Development.
      </p>
      <p class="certificate-details">
        While doing this course I learned about HTML, CSS, BootStrap, JS,
        Nodejs, ejs , expressjs, ReactJs, Mongodb , Sql and UI/Ux.
      </p>
    </div>
    <div class="certificate-image" id="certificate-image-1">
      <a href="/web"
        ><img
          class="certificate-img"
          src="../images/udemy.png"
          alt="Udemy Certificate"
      /></a>
    </div>
  </div>
</div>
