<div id="footer">
  <h1 class="footer-head">👇 Contact me here 👇</h1>
  <div class="profile-logo-3" style="left: -4vw">
    <a href="mailto:ashish.0017.rajput@gmail.com"
      ><img class="profile-logo" src="../images/gmail.png" alt="gmail"
    /></a>
    <a href="https://github.com/ashishrajputji"
      ><img
        class="profile-logo"
        src="../images/github-sign.png"
        style="background-color: white"
        alt="github logo here"
    /></a>
    <a href="https://www.linkedin.com/in/ashish-rajput-5ab8401a9"
      ><img class="profile-logo" src="../images/linkedin.png" alt="linkedIN"
    /></a>

 
  </div>
  <div>
    <a class="foot-link" href="#main">Home </a>
    <a class="foot-link" href="#projects">Projects </a>
    <a class="foot-link" href="#profile">Profile </a>
  </div>
</div>
