<html>
  <head>
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/action.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <link rel="stylesheet" href="../css/project.css">
    <link rel="stylesheet" href="../css/footer.css">
 </head>
  <body>
    <div id="main"><%- include("nav") -%> <%- include("action") -%></div>

    
    </div>
    <%- include("profile") -%> 
    <%- include("project") -%> 

    <div id="footer">
      <h1 class="footer-head">👇 Contact me here 👇</h1>
      <div class="profile-logo-3" style="left: -4vw;">
        <a href="mailto:ashish.0017.rajput@gmail.com"><img class="profile-logo" src="../images/gmail.png" alt="gmail"></a>
        <a href="https://github.com/ashishrajputji"><img class="profile-logo" src="../images/github-sign.png" style="background-color: white ;" alt="github logo here"></a>
         <a href="https://www.linkedin.com/in/ashish-rajput-5ab8401a9"><img class="profile-logo" src="../images/linkedin.png" alt="linkedIN"></a>
 
        <h3 class="footer-copyright">copyright @ Ashish</h3> 
      </div>
    </div>

<script src="../js/profile.js"></script>
    <script src="../js/projects.js"></script>
  </body>
</html>
