<div class="navigation">
  <div class="main-logo">
    <h1 class="nav-name">Ashish Rajput</h1>
    <p class="nav-profession">Full-Stack Developer</p>
  </div>

  <div class="navigation-right">
    <a href="#main" class="nav-a"><h2 class="nav-icons">Home</h2></a>
    <a href="#projects" class="nav-a"> <h2 class="nav-icons">Project</h2></a>
    <a href="#footer" class="nav-a"><h2 class="nav-icons">Contact Me</h2></a>
  </div>
</div>
