<div class="navigation">
  <div class="main-logo">
    <h1 class="nav-name">Ashish Rajput</h1>
    <p class="nav-profession">Full-Stack Developer</p>
  </div>
  <div>
    <img
      class="nav-hamburger"
      src="../images/hamburger.png"
      onclick="dropdown()"
      alt="icon"
    />
  </div>
  <div class="navigation-right">
    <a href="./#main" class="nav-a"><h2 class="nav-icons">Home</h2></a>
    <a href="./#certificates" class="nav-a"
      ><h2 class="nav-icons">Certifcates</h2></a
    >
    <a href="./#projects" class="nav-a"> <h2 class="nav-icons">Project</h2></a>

    <a href="./#profile" class="nav-a"><h2 class="nav-icons">Profile</h2></a>
  </div>
</div>
