<div id="profile">
    <div class="profile-image">
      <img class="profile-img" src="../images/profile_2.jpg" alt="" />
      <div class="profile-logo-3">
        <a href="mailto:ashish.0017.rajput@gmail.com"><img class="profile-logo" src="../images/gmail.png" alt="gmail"></a>
       <a href="https://github.com/ashishrajputji"><img class="profile-logo" src="../images/github-sign.png" alt="github logo here"></a>
        <a href="https://www.linkedin.com/in/ashish-rajput-5ab8401a9"><img class="profile-logo" src="../images/linkedin.png" alt="linkedIN"></a>

      </div>
    </div>
    <div class="profile-details" >
      <h1 class="profile-name">Ashish Rajput</h1>
      <h2 class="profile_heading">Web Developer</h2>
      <h4 class="profile-quote">“Website without visitors is like a ship lost in the horizon.”</h4>

      <h2 class="profile_heading">Front End Skills</h3>
      <ul>
        <li class="profile-li">Html</li>
        <li class="profile-li">Css</li>
        <li class="profile-li">JavaScript</li>
        <li class="profile-li">ReactJs</li>
      </ul>
      <h2 class="profile_heading">Backend Skills</h3>
      <ul>
        <li class="profile-li">NodeJs</li>
        <li class="profile-li">ExpressJs</li>
        <li class="profile-li">Mongoose</li>
        <li class="profile-li">Mongodb</li>
        <li class="profile-li">Sql</li>
      </ul>
      <h2 class="profile_heading">College Education</h3>
        <ul>
          <li class="profile-li">BE - 2018-2022</li>
          <li class="profile-li" style="border: 0px;">Faculty of technology & Engineering,MSU, Baroda</li>

          <li class="profile-li">CS Engineering</li>
          <li class="profile-li"style="border: 0px;">CGPA  : 7.5</li>
        </ul>
    </div>
    </div>