<div id="projects">
  <h1 class="main-project-head">Projects</h1>
  <div class="project-1">
    <div class="project-text">
      <h1 class="project-title">LovePets - Pet Food Selling Website</h1>
      <h2 class="project-tech-stack">HTML CSS JS BootStrap</h2>
      <p class="project-details">
        This is my second project while learning Web Development.
      </p>
      <p class="project-details">
        It is about selling Pet Food & Exercise Membership plans.
      </p>
      <p class="project-details">
        While doing this project I learned about HTML CSS BootStrap and JS.
      </p>
    </div>
    <div class="project-image" id="project-image-1">
      <img class="project-img" src="../images/lovepet1.png" alt="" />
    </div>
  </div>
  <div class="project-1">
    <div class="project-text">
      <h1 class="project-title">Resume Builder Project</h1>
      <h2 class="project-tech-stack">ReactJs Html Css Js</h2>
      <p class="project-details">
        This is my first major ReactJs project while learning front end
        Development with ReactJs.
      </p>
      <p class="project-details">
        The idea behind the project is to build a free resume builder web app
        for students.
      </p>
      <p class="project-details">
        While doing this project I learned a lot about reusability of code.
      </p>
    </div>
    <div class="project-image" id="project-image-2">
      <img
        class="project-img"
        src="../images/resume-maker.png"
        alt="resume-maker "
      />
    </div>
  </div>
  <div class="project-1">
    <div class="project-text">
      <h1 class="project-title">DoorDash Food Selling</h1>
      <h2 class="project-tech-stack">Tech Stack Used</h2>
      <p class="project-details">
        This is my second project while learning Web Development.
      </p>
      <p class="project-details">
        It is about selling Pet Food & Exercise Membership plans.
      </p>
      <p class="project-details">
        While doing this project I learned about HTML CSS BootStrap and JS.
      </p>
    </div>
    <div class="project-image" id="project-image-3">
      <img class="project-img" src="../images/lovepet3.png" alt="" />
    </div>
  </div>
</div>
<button type="button" id="btn-moreprojects" onclick="moreprojects()">
  More Projects
</button>
<br />
<br />
