<html>
  <head>
    <title>Udemy Certificate 2021</title>
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/footer.css">
  </head>
  <body>
    <%- include("nav") -%>
    <h1 style="text-align: center">Udemy Certificate</h1>
    <img
      width="100%"
      src="../images/udemy.png"
      alt="Web Development Certificate"
    />
    <%- include("footer") -%>
  </body>
</html>
